* {
    margin: 0;
    padding: 0;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    width: 100%;
    height: 100%;
    background-color: blue;
}

td {
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    width: 14%;
    border-radius: 50%;
    background-color: white;
}

.table-morpion {
    width: 360px;
    height: 640px;
    position: absolute;
    /* Centrer verticalement */
    top: 50%;
    margin-top: -320px;
    /* Centrer horizontalement */
    left: 50%;
    margin-left: -180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cellule {
    background-color: white;
}